/*
*  BASE
*/

html, body {
	font-family: 'open sans', sans-serif;
	background-color: #ffffff;
	color: #333333;
	padding: 0;
	margin: 0;
}

main {
	margin: 0rem 10%;
}

a {
	color: #111;
	font-weight: bold;
}

a:visited {
	color: #888;
}

h1 {
	margin: 1.5em 2% 0em;
}

header {
	border-bottom: 1px solid #00456e;
	min-height: 5em;
	background-color: #005689;
	color: #ffffff; 
}

.logo-wrapper {
    position: relative;
    float: right;
    margin: 0.75rem 10% 0.25rem 0;
    max-width: 80%;
}


/*
*  EVENT
*/

.event {
	width: 46%;
	float: left;
	padding: 2%;
	font-weight: lighter;
}

@media (max-width: 600px) {
	.event {
		width: 96%;
	}
}

.event__title {
	color: #005689;
}

.event__details {
    margin: 0;
    line-height: 1.5;
}

/*
*  FOOTER
*/


footer {
	background: #484848;
	clear: both;
	position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 3em;
}

.footer__follow-us {
	margin: 0 10%;
}

@media (max-width: 600px) {
	.footer__follow-us {
		margin: 0 2%;
	}
}

.footer__follow-us .button {
    border-color: #767676;
    padding: 0 0.5rem;
    margin: 0.8rem 1rem;
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    border-width: 0.0625rem;
    border-style: solid;
}

@media (max-width: 600px) {
	.footer__follow-us .button {
    	margin: 0.8rem 0.5rem;
	}
}

.footer__follow-us a {
    color: #dcdcdc;
}

.inline-icon-share {
    width: 1.5rem;
    height: 1.5rem;
    margin: -0.0625rem -0.5rem 0 0;
    float: left;
    fill: #ffffff;
    position: relative;
}

.inline-icon-share svg {
	position: absolute;
    left: -0.5em;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer__follow-us__item {
    display: inline;
    text-transform: lowercase;
    float: left;
}